#wrapper{
  display:none;
  margin:auto;
  width:391px;
  height:150px;
  padding-left:35px;
}

#myScroll{
/*display:none;*/
}
#myScroll .scrollEl{
  display:none;
  background:url(../../../images/elBgnd.png) repeat-x;
  border:1px solid #ddd;
  font-family:sans-serif;
  font-size:100%;
  color:white;
  height:23px;
  width:355px;
  padding:9px 2px 2px 1px;
  text-shadow:#999 1px 1px 1px;
  text-align:center;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
#myScroll1 .scrollEl{
  display:none;
  background:url(../../../images/elBgnd.png) repeat-x;
  border:1px solid #ddd;
  font-family:sans-serif;
  font-size:100%;
  color:white;
  height:23px;
  width:355px;
  text-shadow:#999 1px 1px 1px;
  text-align:center;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

#myScroll1 .scrollEl span{
  display:block;
  padding:4px;
}

#controls div, #controls1 div{
  font-family:sans-serif;
  /*margin-top:5px;*/
  margin-bottom:60px;
  background:#fff;
  display:inline-block;
  padding:6px;
  cursor:pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow:#999 2px 2px 2px;
  -webkit-box-shadow:#999 2px 2px 2px;
}

#myScroll1{
  float:left;
  margin-right:2px;
}

#controls .sel, #controls1 .sel{
  color:black !important;
  font-weight:bold;
}
#controls .disabled, #controls1 .disabled{
  color:gray;
}
#controls .page, #controls1 .page{
  padding:5px;
  color:gray;
}

.info_sys{
    -moz-box-shadow:#999 2px 2px 2px;
    -moz-border-radius: 8px;
    padding: 2px;
    /*height:200px;*/
    height:100%;
    width:100%;
}

.bordes_info{
    border-top: 1px solid #aaaaaa;
        border-bottom: 1px solid #aaaaaa;
    height:182px;
}
.bordes_info2{
    border-top: 1px solid #aaaaaa;
        border-bottom: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    height:182px;
}
.moduleTitle2 {
    background-color:#FFFFFF;
    background-image:url(../../../../../images/bgGray.gif);
    border-color:#999999;
    color:#E35332;
    border-right: 1px solid #aaaaaa;
    font-family:verdana,arial,helvetica,sans-serif;
    font-size:13pt;
    font-weight:bold;
    padding:4px;
}
.moduleTitleborder {
    background-color:#FFFFFF;
    background-image:url(../../../../../images/bgGray.gif);
    border-color:#999999;
    color:#E35332;
    border-right: 1px solid #aaaaaa;
}