<?xml version="1.0" encoding="UTF-8"?>
<module>
  <menulist>
    <menuitem menuid="pbxconfig"              desc="PBX"                     parent=""          module="no"  link=""      order="0"></menuitem>
    <menuitem menuid="pbxadmin"               desc="PBX Configuration"       parent="pbxconfig" module="yes" link=""      order="1"></menuitem>
    <menuitem menuid="control_panel"          desc="Control Panel"           parent="pbxconfig" module="yes" link=""      order="2"></menuitem>
    <menuitem menuid="voicemail"              desc="Voicemail"               parent="pbxconfig" module="yes" link=""      order="3"></menuitem>
    <menuitem menuid="monitoring"             desc="Monitoring"              parent="pbxconfig" module="yes" link=""      order="4"></menuitem>
    <menuitem menuid="endpoint_configurator"  desc="Endpoint Configurator"   parent="pbxconfig" module="yes" link=""      order="5"></menuitem>
    <menuitem menuid="conference"             desc="Conference"              parent="pbxconfig" module="yes" link=""      order="6"></menuitem>
    <menuitem menuid="extensions_batch"       desc="Batch of Extensions"        parent="pbxconfig" module="yes" link=""      order="7"></menuitem>
    <menuitem menuid="tools"                  desc="Tools"                   parent="pbxconfig" module="no"  link=""      order="8"></menuitem>
    <menuitem menuid="asterisk_cli"           desc="Asterisk-Cli"            parent="tools"     module="yes" link=""      order="81"></menuitem>
    <menuitem menuid="file_editor"            desc="Asterisk File Editor"             parent="tools"     module="yes" link=""      order="82"></menuitem>
    <menuitem menuid="text_to_wav"            desc="Text to Wav"             parent="tools"     module="yes" link=""      order="83"></menuitem>
    <menuitem menuid="fop"                    desc="Flash Operator Panel"    parent="pbxconfig" module="no"  link="panel" order="9"></menuitem>
  </menulist>
</module>
