<?xml version="1.0" encoding="UTF-8"?>
<module>
  <menulist>
    <menuitem menuid="reports"              desc="Reports"                   parent=""        module="no"  link="" order="0"></menuitem>
    <menuitem menuid="cdrreport"            desc="CDR Report"                parent="reports" module="yes" link="" order="1"></menuitem>
    <menuitem menuid="channelusage"         desc="Channels Usage"            parent="reports" module="yes" link="" order="2"></menuitem>
    <menuitem menuid="billing"              desc="Billing"                   parent="reports" module="no"  link="" order="3"></menuitem>
    <menuitem menuid="billing_rates"        desc="Rates"                     parent="billing" module="yes" link="" order="31"></menuitem>
    <menuitem menuid="billing_report"       desc="Billing Report"            parent="billing" module="yes" link="" order="32"></menuitem>
    <menuitem menuid="dest_distribution"    desc="Destination Distribution"  parent="billing" module="yes" link="" order="33"></menuitem>
    <menuitem menuid="billing_setup"        desc="Billing Setup"             parent="billing" module="yes" link="" order="34"></menuitem>
    <menuitem menuid="asterisk_log"         desc="Asterisk Logs"             parent="reports" module="yes" link="" order="4"></menuitem>
    <menuitem menuid="graphic_report"       desc="Graphic Report"            parent="reports" module="yes" link="" order="5"></menuitem>
    <menuitem menuid="summary_by_extension" desc="Summary by Extension"      parent="reports" module="yes" link="" order="6"></menuitem>
  </menulist>
</module>
