a {
    color: #000000;
    text-decoration: none;
}

.phpc-main {
    font-size: 90%;
    border: 1px solid #AAAAAA;
    border-collapse: collapse;
    color: #000000;
    background-color: #e8eef7;
}

thead th {
  background-color: #fbaa3f;
  color: #000000;
}

thead {
  border: 1px solid #000000;
}

thead, tfoot {
  text-align: center;
}

#calendar td, #calendar th {
  border-collapse: collapse;
  border: 1px solid #AAAAAA;
}

table.phpc-main tbody th {
  text-align: right;
}

#calendar {
  table-layout: fixed;
}

#calendar td {
  text-align: left;
  height: 100px;
  overflow: hidden;
}

td.past {
  background-color: #ffffff;
  color: inherit;
}

td.future {
  background-color: #ffffcc;
  color: inherit;
}

td.none {
  background-color: #e8eef7;
  color: inherit;
}

.ul_class{
  list-style-type: none;
  height:60px;
  padding: 0;
  margin:0;
  width:100%;
}

.li_class{
  font-size: 80%;
  font-weight: normal;
  border: 1px solid #AAAAAA;
  background-color: #e8eef7;
  cursor: pointer;
  margin-top: 3px;
  overflow:hidden;
  white-space:nowrap;
  width:100%;
}

table.phpc-main li a:hover {
    background-color:#93B6F0;
    color:#FFFFFF;
}

table.phpc-main li a {
display:block;
padding:0px;
text-decoration:none;
}

.phpc-add {
  float: right;
  text-align: right;
}

.head_cell{
    width:100%;
    height:16px;
    background-color:e4e4e4;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    text-align: right; 
}




#tabmenu { 
    color: #000; 
    margin: 0px 12px 0px 0px; 
    padding: 0px; 
    z-index: 1; 
    padding-left: 10px;
    cursor: pointer;
    text-align: right;
} 

#tabmenu li { 
    display: inline; 
    overflow: hidden; 
    list-style-type: none;
} 

#tabmenu a, a.active { 
    background: #FBAA3F; 
    font: normal 1em verdana, Arial, sans-serif; 
    border: 1px solid #aaaaaa; 
    padding: 2px 5px 0px 5px; 
    margin: 0px; 
    text-decoration: none; 
    cursor:pointer; 
} 

#tabmenu a:hover { 
    color: #fff; 
    background: #ADC09F; 
} 

#tabmenu a.active { 
    background-image: url(/images/bggrisForm.gif); 
} 

#tabmenu a.active:hover { 
    background-image: url(/images/bggrisForm.gif);
    color: #DEDECF; 
} 


#tabmenu a:visited { 
color: #E8E9BE; } 


#calendar_content {
    z-index: 2;
    background-repeat: repeat-x;
    background-position: top;
}


