#fielform{
    /*border-color:#5252F8;*/
    border-color:#EE9A49;
    position:relative;
    /*background-image:url(../imagenes/fondo_fp.png);
    background-repeat:repeat;*/
    
    /*top:20px;
    left:140px;*/
    width:450px;
    height:auto;
    border-width:thin;
    color:black;
    font-size:12px;
    font-family:Verdana,Arial,Helvetica,sans-serif;
}

#sombreado
{
    font-size:12px;
    color:#DCA024;
    font-weight:bold;
    font-family:Verdana;
    background:white;
}

#extras {
    padding: 0px 0px 0px 0px;
    float: left;

}

#extgeneral {
    padding: 0px 3px 0px 0px;
    float: left;
    /*width: auto;
    height: auto;
    background-color:#CCCCCC;*/
}

















.boton{
    font-size:10px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:white;
    background:#638cb5;
    border:0px;
    width:80px;
    height:19px;
}

.icon {
    width: 17px;
    height: 17px;
    padding: 3px 0 0px 3px;
    border: 0;
    cursor:pointer;
}

#port_desc {
    margin-left:180px;
    width:260px;
    font-size:14px;
    text-align:center;
    color:blue;
}

#form {
    margin-left:80px;
    width:"40%";
}

.layer_handle {
    background-color:#5588bb;
    padding:2px;
    text-align:center;
    font-weight:bold;
    color: #FFFFFF;
    vertical-align:middle;
    font-size: 12px;
}

#editArea1 {
    color: #E35635;
    font-size: 11px;
    margin-left: 60px;
    cursor: pointer;
}

