<?xml version="1.0" encoding="UTF-8"?>
<module>
  <menulist>
    <menuitem menuid="system"               desc="System"             parent=""            module="no"  link="" order="0"></menuitem>
    <menuitem menuid="dashboard"            desc="Dashboard"          parent="system"      module="yes" link="" order="1"></menuitem>
    <menuitem menuid="network"              desc="Network"            parent="system"      module="no"  link="" order="3"></menuitem>
    <menuitem menuid="network_parameters"   desc="Network Parameters" parent="network"     module="yes" link="" order="31"></menuitem>
    <menuitem menuid="dhcp_server"          desc="DHCP Server"        parent="network"     module="yes" link="" order="32"></menuitem>
    <menuitem menuid="dhcp_dhcp_clientlist" desc="DHCP Client List"   parent="network"     module="yes" link="" order="33"></menuitem>
    <menuitem menuid="dhcp_by_mac"          desc="DHCP By MAC"        parent="network"     module="yes" link="" order="34"></menuitem>
    <menuitem menuid="usermgr"              desc="User Management"    parent="system"      module="no"  link="" order="4"></menuitem>
    <menuitem menuid="userlist"             desc="Users"              parent="usermgr"     module="yes" link="" order="42"></menuitem>
    <menuitem menuid="shutdown"             desc="Shutdown"           parent="system"      module="yes" link="" order="6"></menuitem>
    <menuitem menuid="hardware_detector"    desc="Hardware Detector"  parent="system"      module="yes" link="" order="7"></menuitem>
    <menuitem menuid="updates"              desc="Updates"            parent="system"      module="no"  link="" order="8"></menuitem>
    <menuitem menuid="packages"             desc="Packages"           parent="updates"     module="yes" link="" order="81"></menuitem>
    <menuitem menuid="repositories"         desc="Repositories"       parent="updates"     module="yes" link="" order="82"></menuitem>
    <menuitem menuid="backup_restore"       desc="Backup/Restore"     parent="system"      module="yes" link="" order="9"></menuitem>
    <menuitem menuid="preferences"          desc="Preferences"        parent="system"      module="no"  link="" order="10"></menuitem>
    <menuitem menuid="currency"             desc="Currency"           parent="preferences" module="yes" link="" order="104"></menuitem>

    <!--Temporalmente esto se va hace aqui para los menus de extras e IM-->
    <menuitem menuid="extras"             desc="Extras"             parent=""           module="no" link=""                                     order="0"></menuitem>
    <menuitem menuid="vtigercrm"          desc="vTigerCRM"          parent="extras"     module="no" link="vtigercrmWrapper.php?URL=/vtigercrm/" order="1"></menuitem>
    <menuitem menuid="a2b"                desc="Calling Cards"      parent="extras"     module="no" link="a2billing"                            order="2"></menuitem>
    <menuitem menuid="downloads"          desc="Downloads"          parent="extras"     module="no" link=""                                     order="3"></menuitem>
    <menuitem menuid="sphones"            desc="Softphones"         parent="downloads"  module="no" link="static/softphones.htm"                order="31"></menuitem>
    <menuitem menuid="faxutils"           desc="Fax Utilities"      parent="downloads"  module="no" link="static/faxutils.htm"                  order="32"></menuitem>
    <menuitem menuid="instantmessaging"   desc="Instant Messaging"  parent="downloads"  module="no" link="static/instantmessaging.htm"          order="33"></menuitem>
    <menuitem menuid="crm"                desc="SugarCRM"           parent="extras"     module="no" link="sugarcrmWrapper.php?URL=/crm/"        order="4"></menuitem>
    
    <menuitem menuid="im"                 desc="IM"                 parent=""           module="no" link=""                                               order="0"></menuitem>
    <menuitem menuid="openfire"           desc="OpenFire"           parent="im"         module="no" link="openfireWrapper.php?IP={NAME_SERVER}&amp;PORT=9090" order="1"></menuitem>
  </menulist>
</module>
